{% block content %}


<hr>
<h1>Book reviews</h1>
<div>
    {% if user.is_active %}
    <form action="" method="post">
        {% csrf_token %}
        {{ rev_form.as_p }}
        <input type="submit" value="Add review"/>
    </form>
    {% else %}
    <h2>You need to sign, to leave a review</h2>
    {% endif %}
    <hr>

    {% for review in reviews %}
    <p>Review: {{review.text}}</p>
    <p1>User: {{review.user}} |</p1>
    <p2>Date: {{review.time_create|date:"d-m-Y"}}</p2><br><br>
    {% endfor %}

</div>

{% endblock %}