body {
    background: #708090;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
	float: right;
}
.table-page tr {height: 100%;}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.clear {clear: both;}

.header {
	background: #3d3d3d;
	height: 60px;
}



ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
}

ul.mainmenu li {
	float: left;
	margin: 18px 30px 0 20px;
}

ul.mainmenu li.logo {margin: 0; }
ul.mainmenu li.last {float: right; }

ul.mainmenu li a {
	color: #fff;
	display: inline-block;
	text-decoration:none;
    transition: transform .5s ease;
}

ul.mainmenu li a:hover {
	color: #8a2be2;
	text-decoration:none;
    transform: scale(1.1);
}


aside {
    float: left;
    background: #708090;
    width: 20%;
    padding: 2.5%;
    height: 120vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}




aside h3 {
    margin-top: 50px;
    font-size: 28px;
}
aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .5s ease;
}

aside ul li:hover, aside ul li a:hover {
    color: #8a2be2;
    text-decoration:none;
    transform: scale(1.2);
}

main .futures {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%
}

main .futures h1 {font-size: 50px}
main .futures p {max-width: 400px; margin: 20px auto}


.footer {
	box-sizing: border-box;

	background: #3d3d3d;
	padding: 5px;
	color: #aaa;
	font-size: 18px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	text-align: center;
	overflow: hidden;
}


form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}


